.iterationtrackingboard .header {
    line-height: normal;
    padding: 5px;
}

.iterationtrackingboard .header .add-new {
    float: left;
}

.iterationtrackingboard .header .add-new .new {
    margin-left: 0;
}

.iterationtrackingboard .header .rui-triggerfield {
    margin-bottom: 5px;
}

.iterationtrackingboard .blank-slate-msg .x4-panel-body {
    clear: both;
    padding-top: 20px;
    text-align: center;
}

.iterationtrackingboard .gridboard-filter-control {
    height: 22px;
    margin: 3px 0px 0px 5px;
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.iterationtrackingboard .gridboard-filter-control .x4-btn-icon.icon-filter{
    font-size: 14px !important;
    padding-top: 2px;

}