.burndown-app .chartControls {
    margin: 15px;
}

.burndown-app .chartControls label,
.burndown-app .chartControls .rui-triggerfield {
    display: inline-block;
}

.burndown-app .chartControls label {
    font-size: 1.2em;
    margin: 3px 8px;
}

.portfolio-cfd-app,
.portfolio-burnup-app,
.burndown-app {
    margin: 10px;
    padding-right: 20px;
    background-color: transparent;
}

.portfolio-cfd-app .rally-help-icon,
.portfolio-burnup-app .rally-help-icon {
    float: right;
}

.portfolio-cfd-app .chart,
.portfolio-burnup-app .chart {
    min-height: 2em;
}
