

.roadmapPlanningBoardApp td.card-column {
    background-color: #f5f5f5;
}

.roadmapPlanningBoardApp .column-header .columnTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.roadmapPlanningBoardApp .column-header .timeboxDates {
    font-size: 12px;
    font-weight: bold;
    color: #8f8f8f;
    margin-bottom: 7px;
}

.roadmapPlanningBoardApp .progress-bar-background {
    background-color: #424242;
    padding: 6px 0;
}

.roadmapPlanningBoardApp .cardboard .column-container .column-header .column-header-title {
    padding: 15px 0 0 0;
}

.roadmapPlanningBoardApp .progress-bar-container .progress-bar-label {
    color: #333333;
    font-size: 12px;
}